<nav>
  <ul>
    <li><%= link_to 'Profile', user_path(current_user) %></li>
    <li><%= link_to 'Courses', courses_path %></li>
    <li><%= link_to 'attendence', attendences_path %></li>
  </ul>
</nav>