<% if @latest_courses.empty? %>
  <h1>No courses present</h1>
<% else %>
  <div class="md:mx-8 lg:mx-12">
    <h1 class="font-bold text-2xl py-2">Latest Courses</h1>
    <% @latest_courses.each do |course| %>
      <div class="card card-compact bg-base-300 mb-10 shadow-xl">
        <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt=<%= course.name %> /></figure>
        <div class="card-body">
          <h2 class="card-title"><%= course.name %></h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
