<h1>Latest Blogs</h1>
<% if @blogs.present? %>
  <% @blogs.each do |blog| %>
    <div>
      <h2><%= blog.title %></h2>
      <p><%= blog.content %></p>
    </div>
  <% end %>
<% else %>
  <h1>No blogs present</h1>
<% end %>

<h1>Latest Courses</h1>
<% if @courses.present? %>
  <% @courses.each do |course| %>
    <div>
      <h2><%= course.name %></h2>
      <p><%= course.duration %></p>
    </div>
  <% end %>
<% else %>
  <h1>No courses present</h1>
<% end %>
