<div class="flex flex-col gap-2" data-controller="settings">
  <label for="theme">Select Theme:</label>
  <select name="theme" class="select select-primary" data-settings-target="input" data-action="change->settings#changeTheme">
    <option value="system">System</option>
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
</div>
