@tailwind base;

@layer base {

  .no-tailwindcss-base * {
      font-size: revert;
      font-weight: revert;
      list-style: revert;
      margin: revert;
      padding: revert;
  }
}

@tailwind components;
@tailwind utilities;



/* @layer components {
  .btn {
    @apply py-2 px-4 rounded-xl bg-blue-500 text-white font-bold;
  }
} */


