<div id="<%= dom_id academic_class %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= academic_class.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this academic class", academic_class, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this academic class", edit_academic_class_path(academic_class), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
